h1{
    color: darkmagenta ;
    text-align: center;
    font-size:3rem;
    margin:3rem;
    }

h2{
    color: darkmagenta ;
    text-align: left;
    font-size:2rem;
    margin:3rem;
}

#welcome{
    vertical-align: center;
}
body {
    font-family: Candara;
    background : url("/_assets/fonds d'écran.jpg");
    background-size: cover;
    display : flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex:1;
}

header {
    text-align: center;
    align-content: center;
}

a{
    text-decoration: none;
}
nav > ul{
    margin:3rem;
    display: flex;
    padding :0;
    justify-content: space-around;
    align-items: first;
    list-style-type: none;
    font-size:2rem;
}
/* on modifie la disposition du menu en fonction de la taille de l'écran */
@media all and (min-width :450px) {
    nav > ul {
        flex-direction: row;
        align-items: center;
    }}

#git{
    font-size : 1rem;
    text-align: end;
    }

.logo{
    width: 25px;
     text-align:start;
    margin:0;
    display: inline;
}
p{
    text-align: justify;
    font-size:2rem;
    margin:3rem;
}

img{
    width: auto;
    height: auto;
    text-align:center;
    margin:auto;
    display:flex;
   }

@media all and (min-width :450px) {
   img {
       width: 400px;
       height: auto;
    }}