h1 {
    color: darkmagenta ;
    text-align: center;
}

body {
    font-family: Candara;
    background : url("/_assets/fonds d'écran.jpg");
    background-size: cover;
}

header {
    text-align: center;
    align-content: center;
}

ul {
    padding-left: 2rem;
    list-style-type: none;
}

#git{
    font-size : 1rem;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

p{
    text-align: center;
}
#git\ image{
    width: 25px;
}

img{
    width: 300px;
    text-align:center;
    margin:auto;
    display:flex;
}