<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="blog de licorne" >
    <meta name="keywords" content="licorne, unicron, girly, pink, paillettes, working girl, girl power" >

    <title>{{ title or metadata.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <h1>🌈 Mon blog de licorne 🌈 </h1>
        <nav id="menu">
        <ul>
            <li><a href="/"> 🎀 Accueil</a></li>
            <li><a href="/about">🎀 A propos de moi</a></li>
            <li><a href="/blog/page-0">🎀 Mes articles</a></li>
        </ul>
    </nav>
</header>

<main>
    {{ content | safe }}
</main>

<footer>
    <div id="git">
    <p><a href="https://github.com/smahgoub/">Résaux sociaux <img class="logo"src="/_assets/git.png" alt="Git"></a>
        <img class="logo"src="/_assets/instagram.jpg" alt="Instagram">
        <img class="logo"src="/_assets/facebook.png" alt="Facebook"></p>
    </div>
</footer>

</body>
</html>